@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@theme {
  --color-purple-950: hsl(257, 27%, 26%);
  --color-blue-400: hsl(180, 66%, 49%);
  --color-red-400: hsl(0, 87%, 67%);
  --color-gray-400: hsl(0, 0%, 75%);
  --color-gray-500: hsl(257, 7%, 63%);
  --color-gray-900: hsl(255, 11%, 22%);
  --color-gray-950: hsl(260, 8%, 14%);
}

body {
  /* font-family: "Poppins", sans-serif; */
}

button {
  background-color: var(--color-blue-400);
  border: 0px solid;
  border-radius: 1.8rem;
  padding-left: 2rem;
  padding-right: 2rem;

  /* width: 100%; */
  color: white;
  font-weight: bolder;
}
